@import "mixin";

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    padding: 0;
    margin: 0;
}

// First footer container start------------------------------------------------------------------

.seven-section{
    background-color:rgb(134,184,174);
    height: 30vh;
    width: 100%;
    display: flex;
    margin: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @include mediaL{
        height: 30vh;
    }

    @include mediaMd{
        height: 40vh;
        padding-top: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #first{

        @include mediaMd{
            
        display: none;
        }
    }
    &-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 33.3%;
        flex: 1;
        height: 100%;

        @include mediaL{
            width: 50%;
        }

        @include mediaMd{
            width: 100%;
            height: auto;
            align-items: center;
        }
        img{
            width: 80%;
            height: 100%;


        }
        h1{
            text-align: left;
            font-size: 2.2rem;

            
            @include mediaMd{
                text-align: center;
                font-size: 2.2rem;
            }
        }
        button{
            margin-left: 7rem;
            background-color: rgb(6,38,47);
            color: rgb(249, 249, 249);
            border: none;
            font-size: 1rem;
            padding: 1rem 4rem;

            @include mediaL{
                margin-left: 2rem;
                padding: 1rem 3rem;
            }

            @include mediaMd{
                margin-left: 1rem;
                padding: 1rem 2rem;
            }
        }
    }
}
// First footer container end------------------------------------------------------------------



// Footer container start------------------------------------------------------------------

.eight-section{
    background-color: rgb(224,225,226);
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 7rem;
    margin: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
   
    @include mediaL{
        padding: 0 3rem 0 4rem;
        height: 30vh;
    }

    @include mediaMd{
        padding: 0 2rem 0 2rem;
        height: 45vh;
        flex-direction: column;
    }
    &-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
        flex: 1;
        // padding-left: 1rem;
        height: 100%;

        @include mediaL{
            width: 50%;
        }

        @include mediaMd{
            width: 100%;
        }
.logo{
    width: 40%;
    margin-bottom: 2rem;
    
    img{
        width: 100%;
        height: 100%;
    }
}

        div{
            display: flex;
            align-items: center;
            p{
                padding-right: 1rem;

                @include mediaL{
                    padding-right: .7rem;
                }

                @include mediaMd{
                    padding-right: .5rem;
                }
            }
        }
        h1{
        color: #507576;

            text-align: left;
            font-size: 3.5rem;

            @include mediaL{
                font-size: 2.2rem;
            }

            @include mediaMd{
                font-size: 2.2rem;
            }
        }
       p{
        display: flex;
        color: #507576;
        justify-content: flex-start;
        font-weight: 500;
        align-items: center;
        font-size: 0.8rem;
        text-align: left;

        span{
            padding-right: 0.8rem;
            font-size: 1.2rem;
        }
        
       }
    }

}