@import "mixin";

.header {
    background-color: rgb(5, 31, 39);
    padding: 10px 0;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    &-logo {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 7rem;

       

        @include mediaL {
            width: 50%;
            padding-left: 2rem;
        }

        @include mediaMd {
            width: 40%;
            justify-content: flex-start;
            padding-top: 0.6rem;
            padding-left: 1rem;
        }

        @include mediaS {
            width: 100%;
            padding-left: 2rem;
        }
        div {
            width: 27%;
            height: 35%;

            @include mediaXl {
                width: 35%;
                height:55%;
            }

            @include mediaL {
                width: 40%;
                height: 30%;
            }
            @include mediaMd {
                width: 80%;
                padding-top: 0;
                height: 50%;
            }

            @include mediaS {
                width: 57%;
                height: 30%;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    &-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        align-items: center;

        @include mediaXl {
            width: 50%;
            padding-right: 2rem;
        }

        @include mediaMd {
            width: 60%;
        }

        @include mediaS {
            width: 50%;
        }
        hr {
            width: 100%;
            opacity: 1;
            color: rgb(255, 255, 255);

            @include mediaMd {
                display: none;
            }
        }
        &-content {
            display: flex;
            width: 100%;

            @include mediaMd {
                flex-direction: column-reverse;
            }


            h1 {
                color: rgb(255, 255, 255);
            }
            &-left {
                width: 50%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;

                @include mediaMd {
                    width: 100%;
                    justify-content: center;
                }

                @include mediaMd {
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                p {
                    text-align: left;
                    font-family: "Assistant Regular", sans-serif;
                    color: rgb(255, 253, 253);

                    @include mediaXl {
                        font-size: 2rem;
                    }

                    @include mediaMd {
                        display: none;
                    }

                    @include mediaS {
                       display: none;
                    }
                }
            }
            &-right {
                width: 50%;
                @include mediaMd {
                    width: 100%;
                }

                @include mediaS {
                    width: 100%;
                }
            }
        }
    }
}
#container {
    display: flex;
    padding-right: 7rem;
    justify-content: flex-end;

    @include mediaXl {
        height: 10vh;
        padding-right: 2rem;
    }

    @include mediaL {
        padding-right: 2rem;
    }

    @include mediaMd {
        padding-right: 1rem;
    }

    @include mediaS {
        padding-right: 1rem;
    }
    #toggle {

        @include mediaXl {
            width: 30%;
            height: 10vh;
        }
        .navbar-toggler-icon {
            @include mediaXl {
                width: 30%;
                height: 10vh;
            }
            background-image: url("../../Image/menu.png");
        }
    }
}
